<!-- <html>
<title>form</title>
<body>
    <body style="background-color: red;">
    <h1>"THIS IS <i>ITPRENEUR CLASS</i> FIRST PROGRAM"<h1>
    	<hr>
    
    <p style="font-family:arial; color:#FF0000:">This is example</p>
    <p style="font-family:timesnewroman; color:#FFFFFF:">This is example1</p>

    <p align="left">This is left aligned</p>
    <p align="center">This is center aligned</p>
    <p align="right">This is right aligned</p>
        </hr>
</body>
</html> -->
{% extends 'base.html' %}
{% block content %}
<h1>this is page</h1>

<!--{% for post in posts%}
<h1>{{ post.book_name }}</h1>
<p>By {{post.author}} on {{post.date}}</p>
{% endfor%}-->
{% endblock content %}